{# Tag Create Component #}
{% macro tag_create() %}
<section class="box" x-data='tagCreate()' data-testid="tag-create-form">
    <div class="box-header" @click="toggleExpand()">
        <h2 class="box-title">
            <span class="icon"><i class="fas fa-tags"></i></span>
            Create New Tag
        </h2>
        <span class="chevron" :class="{ 'up': expanded }">&#9660;</span>
    </div>

    <div class="box-body" x-show="expanded">
        <div class="grid-2">
            <div class="field">
                <label class="label">Tag Name <span class="req">*</span></label>
                <input class="input" type="text" x-model="formData.name"
                       placeholder="e.g. work, home, urgent"
                       data-testid="tag-create-name-input"
                       :class="{ 'is-danger': errors.name }">
                <p class="help has-text-danger" x-show="errors.name"
                   x-text="errors.name" data-testid="tag-create-name-error"></p>
            </div>

            <div class="field">
                <label class="label">Color <span class="req">*</span></label>
                <div class="color-field">
                    <input type="color" x-model="formData.color"
                           data-testid="tag-create-color-input"
                           :class="{ 'is-danger': errors.color }">
                    <span class="color-hex" x-text="formData.color"></span>
                </div>
                <p class="help has-text-danger" x-show="errors.color"
                   x-text="errors.color" data-testid="tag-create-color-error"></p>
            </div>
        </div>

        <div class="actions">
            <button class="btn btn-ghost" @click="cancel()"
                    data-testid="tag-create-cancel-button">
                <i class="fas fa-times"></i>
                Cancel
            </button>
            <button class="btn btn-primary" @click="create()"
                    :class="{ 'is-loading': saving }" :disabled="saving"
                    data-testid="tag-create-submit-button">
                <i class="fas fa-plus"></i>
                Create Tag
            </button>
        </div>

        <div class="notification is-danger is-light mt-3" role="alert"
             x-show="errors.general" data-testid="tag-create-general-error">
            <button class="delete" @click="errors.general = null"></button>
            <span x-text="errors.general"></span>
        </div>
    </div>
</section>
{% endmacro %}