# copy this file to .env.EnvironmentName and populate the env vars with the appropriate urls
# run the test suite with --env=EnvironmentName to target your desired environment file
WEBAPP_URL=
API_BASE_URL=
