<!-- Commitments Tab Content Component -->
<div class="ui segments">
    <div class="ui segment">
        <h3 class="ui header">Routines</h3>
        {% from "components/commitments_list.html" import commitments_list %}
        {{ commitments_list(id=tab_id + "-routines", show_routines=true, type="routine") }}
    </div>
    <div class="ui segment">
        <h3 class="ui header">Project Work</h3>
        {% from "components/commitments_list.html" import commitments_list %}
        {{ commitments_list(id=tab_id + "-projects", show_routines=false, type="project") }}
    </div>
    <div class="ui segment">
        <h3 class="ui header">Catchlist Items</h3>
        {% from "components/commitments_list.html" import commitments_list %}
        {{ commitments_list(id=tab_id + "-catchlist", show_routines=false, type="catchlist") }}
    </div>
</div>
