<!-- Date Navigation Component -->
<div class="ui segment" id="date-navigation">
    <div class="ui grid">
        <div class="four wide column">
            <button class="ui labeled icon button" id="prev-date">
                <i class="left arrow icon"></i>
                Previous
            </button>
        </div>
        <div class="eight wide column">
            <div class="ui form">
                <div class="field">
                    <input type="date" id="date-picker">
                </div>
            </div>
        </div>
        <div class="four wide column">
            <button class="ui right labeled icon button" id="next-date">
                Next
                <i class="right arrow icon"></i>
            </button>
        </div>
    </div>
</div> 