{% macro display_box(id='', title='', collapsible=false, collapsed=false, tabs=[], class='') -%}
<div class="ui segment {% if class %}{{ class }}{% endif %}" {% if id %}id="{{ id }}"{% endif %}>
    {% if title %}
    <div class="ui clearing segment">
        <h3 class="ui {% if collapsible %}header-with-icon{% endif %} center aligned header">
            {{ title }}
            {% if collapsible %}
            <i class="angle {% if collapsed %}right{% else %}down{% endif %} icon toggle-collapse" data-target="{{ id }}-content"></i>
            {% endif %}
        </h3>
    </div>
    {% endif %}
    
    {% if tabs %}
    <div class="ui top attached tabular menu">
        {% for tab in tabs %}
        <a class="item {% if loop.first %}active{% endif %}" data-tab="{{ id }}-tab-{{ loop.index }}">{{ tab }}</a>
        {% endfor %}
    </div>
    <div id="{{ id }}-tabs-content">
        {{ caller() }}
    </div>
    {% else %}
    <div id="{{ id }}-content" class="{% if collapsible %}collapsible-content{% endif %}" {% if collapsible and collapsed %}style="display: none;"{% endif %}>
        {{ caller() if caller else '' }}
    </div>
    {% endif %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Initialize tabs if present
    {% if tabs %}
    $('.tabular.menu .item').tab();
    {% endif %}
    
    // Note: Collapsible functionality is handled in the demo.html page
});
</script>
{%- endmacro %} 