<!-- Time Period Navigation Component -->
<div class="ui top attached tabular menu">
    <a class="item active" data-tab="day">Day</a>
    <a class="item" data-tab="week">Week</a>
    <a class="item" data-tab="month">Month</a>
    <a class="item" data-tab="season">Season</a>
    <a class="item" data-tab="year">Year</a>
    <a class="item" data-tab="custom">Custom</a>
    <a class="item" data-tab="demo">Demo</a>
</div>

<!-- Custom Date Range Modal -->
<div class="ui modal" id="custom-date-modal">
    <i class="close icon"></i>
    <div class="header">Select Date Range</div>
    <div class="content">
        <form class="ui form" id="custom-date-form">
            <div class="two fields">
                <div class="field">
                    <label>Start Date</label>
                    <input type="date" name="start_date" required>
                </div>
                <div class="field">
                    <label>End Date</label>
                    <input type="date" name="end_date" required>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui button cancel">Cancel</div>
        <div class="ui primary button" id="apply-custom-date">Apply</div>
    </div>
</div> 